# Imports

In [1]:
import pandas as pd

# Data

## Dataset 1

In [2]:
df1 = pd.read_csv("./data/dataset_1.csv")

In [3]:
df1 = df1.dropna(subset=["Fast food (Y/N)", "Marraige Status (Yrs)"])

In [4]:
df1

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,1,1,0,28,44.6,152.000,19.3,15,78,22,...,0,1.0,0,110,80,3,3,18.0,18.0,8.5
1,2,2,0,36,65.0,161.500,24.9,15,74,20,...,0,0.0,0,120,70,3,5,15.0,14.0,3.7
2,3,3,1,33,68.8,165.000,25.3,11,72,18,...,1,1.0,0,120,80,13,15,18.0,20.0,10.0
3,4,4,0,37,65.0,148.000,29.7,13,72,20,...,0,0.0,0,120,70,2,2,15.0,14.0,7.5
4,5,5,0,25,52.0,161.000,20.1,11,72,18,...,0,0.0,0,120,80,3,4,16.0,14.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,537,537,0,35,50.0,164.592,18.5,17,72,16,...,0,0.0,0,110,70,1,0,17.5,10.0,6.7
537,538,538,0,30,63.2,158.000,25.3,15,72,18,...,0,0.0,0,110,70,9,7,19.0,18.0,8.2
538,539,539,0,36,54.0,152.000,23.4,13,74,20,...,0,0.0,0,110,80,1,0,18.0,9.0,7.3
539,540,540,0,27,50.0,150.000,22.2,15,74,20,...,1,0.0,0,110,70,7,6,18.0,16.0,11.5
540,541,541,1,23,82.0,165.000,30.1,13,80,20,...,1,1.0,0,120,70,9,10,19.0,18.0,6.9

## Dataset 2

In [5]:
df2 = pd.read_csv("./data/dataset_2.csv")
df2 = df2.dropna(subset=["Fast food (Y/N)", "Marraige Status (Yrs)"])
df2 = df2.drop(columns=["Unnamed: 42"])

In [6]:
df2

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm)
0,1,10001,0,28,44.6,152.000,19.300000,15,78,22,...,0,1.0,0,110,80,3,3,18.0,18.0,8.5
1,2,10002,0,36,65.0,161.500,24.921163,15,74,20,...,0,0.0,0,120,70,3,5,15.0,14.0,3.7
2,3,10003,1,33,68.8,165.000,25.270891,11,72,18,...,1,1.0,0,120,80,13,15,18.0,20.0,10.0
3,4,10004,0,37,65.0,148.000,29.674945,13,72,20,...,0,0.0,0,120,70,2,2,15.0,14.0,7.5
4,5,10005,0,25,52.0,161.000,20.060954,11,72,18,...,0,0.0,0,120,80,3,4,16.0,14.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
536,537,10537,0,35,50.0,164.592,18.500000,17,72,16,...,0,0.0,0,110,70,1,0,17.5,10.0,6.7
537,538,10538,0,30,63.2,158.000,25.300000,15,72,18,...,0,0.0,0,110,70,9,7,19.0,18.0,8.2
538,539,10539,0,36,54.0,152.000,23.400000,13,74,20,...,0,0.0,0,110,80,1,0,18.0,9.0,7.3
539,540,10540,0,27,50.0,150.000,22.200000,15,74,20,...,1,0.0,0,110,70,7,6,18.0,16.0,11.5
540,541,10541,1,23,82.0,165.000,30.100000,13,80,20,...,1,1.0,0,120,70,9,10,19.0,18.0,6.9

## Dataset 1 = Dataset 2 ?

In [7]:
features_dataset2 = [
    "PCOS (Y/N)",
    " Age (yrs)",
    "Weight (Kg)",
    "Height(Cm) ",
    "BMI",
    "Blood Group",
    "Pulse rate(bpm) ",
    "RR (breaths/min)",
    "Hb(g/dl)",
    "Cycle(R/I)",
    "Cycle length(days)",
    "Marraige Status (Yrs)",
    "Pregnant(Y/N)",
    "No. of aborptions",
    "FSH(mIU/mL)",
    "LH(mIU/mL)",
    "FSH/LH",
    "Hip(inch)",
    "Waist(inch)",
    "Waist:Hip Ratio",
    "TSH (mIU/L)",
    "AMH(ng/mL)",
    "PRL(ng/mL)",
    "Vit D3 (ng/mL)",
    "PRG(ng/mL)",
    "RBS(mg/dl)",
    "Weight gain(Y/N)",
    "hair growth(Y/N)",
    "Skin darkening (Y/N)",
    "Hair loss(Y/N)",
    "Pimples(Y/N)",
    "Fast food (Y/N)",
    "Reg.Exercise(Y/N)",
    "BP _Systolic (mmHg)",
    "BP _Diastolic (mmHg)",
    "Follicle No. (L)",
    "Follicle No. (R)",
    "Avg. F size (L) (mm)",
    "Avg. F size (R) (mm)",
    "Endometrium (mm)",
]

In [8]:
new_df1 = df1.reindex(columns=features_dataset2)

In [9]:
new_df2 = df2.drop(columns=["Sl. No", "Patient File No."])

In [10]:
if new_df2.equals(new_df1):
    print("The datasets are identicals")
else:
    print("The datasets are not identicals")

The datasets are not identicals

In [11]:
comparison = new_df1.compare(new_df2, keep_equal=True)

In [12]:
comparison.head()

    BMI            No. of aborptions       FSH/LH           Waist:Hip Ratio  \
   self      other              self other   self     other            self
0  19.3  19.300000               NaN     0   2.16  2.160326            0.83
1  24.9  24.921163               NaN     0   6.17  6.174312            0.84
2  25.3  25.270891               NaN     0   6.30  6.295455            0.90
3  29.7  29.674945               NaN     0   3.42  3.415254            0.86
4  20.1  20.060954               NaN     0   4.42  4.422222            0.81


      other
0  0.833333
1  0.842105
2  0.900000
3  0.857143
4  0.810811

# Conclusions

Both datasets are pretty much the same. 
In case they were different, the goal was to increase the volume of the training data and also have a separate dataset to realize new predictions.